@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: rgb(230, 247, 255);
    margin: 0;
    width: 100vw;
}

.background-video {
    width: 100vw;
    height: 70%;
    margin-left: 0;
    margin-right: 0;
} 

.splashes {
    margin: 0;
    width: 100vw;
}

.splashes .splash {
    width: 50%;
}

.splashes h1 {
    font-family: Manrope, sans-serif;
    font-size: 10vw;
    color: hotpink;
    mix-blend-mode: difference;
    z-index: 1;
    font-weight: 800;
}
.splashes .bag {
    width: 100vw;
}

.section1 {
    height: 115vh;
    width: 100vw;
    overflow: hidden;
}

#yellow-splashes {
    width: 100vw;
    height: 20vh;
}

#yellow-splash-shadow {
    position: relative;
    top: 0vw;
    left: -40vw;
}

#yellow-splash {
    position: relative;
    top: -25vw;
    left: -40vw;
}

#artistic {
    position: relative;
    left: -25vw;
    top: -55vw;
}

#blue-splashes {
    text-align: right;
    width: 100vw;
    height: 20vh;
}

#blue-splash {
    position: relative;
    top: 5vw;
    right: -30vw;
}

#blue-splash-shadow {
    position: relative;
    top: -20vw;
    right: -30vw;
}

#pink-bag-img {
    position: relative;
    right: -23vw;
    top: -60vw;
    width: 30%;
}

.section2 {
    height: 140vh;
    width: 100vw;
    overflow: hidden;
}

#green-splashes {
    width: 100vw;
    height: 20vh;
}

#green-splash-shadow {
    position: relative;
    top: 0vw;
    left: -35vw;
}

#green-splash {
    position: relative;
    top: -25vw;
    left: -35vw;
}

#blue-bag-img {
    position: relative;
    left: -27vw;
    top: -60vw;
    width: 30%;
}

#purple-splashes {
    text-align: right;
    width: 100vw;
    height: 20vh;
}

#purple-splash {
    position: relative;
    top: 20vw;
    right: -30vw;
}

#purple-splash-shadow {
    position: relative;
    top: -8vw;
    right: -30vw;
}

#innovative {
    position: relative;
    right: -25vw;
    top: -42vw;
}

.section3 {
    width: 100vw;
    height: 140vh;
    overflow: hidden;
}

#yellow-splashes2 {
    width: 100vw;
    height: 20vh;
}

#yellow-splash-shadow2 {
    position: relative;
    top: 0vw;
    left: -35vw;
}

#yellow-splash2 {
    position: relative;
    top: -25vw;
    left: -35vw;
}

#sustainable {
    position: relative;
    left: -25vw;
    top: -58vw;
    
}

#blue-splashes2 {
    text-align: right;
    width: 100vw;
    height: 20vh;
}

#blue-splash2 {
    position: relative;
    top: 15vw;
    right: -30vw;
}

#blue-splash-shadow2 {
    position: relative;
    top: -10vw;
    right: -30vw;
}

#yellow-bag-img {
    position: relative;
    right: -25vw;
    top: -50vw;
    width: 30%;
}

#newsletter {
    position: relative;
}

#blue-box {
    height: 120vh;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 20vw;
    background-color: lightblue;
}

#newsletter-title {
    position: relative;
    top: 95vw;
}

#newsletter-title h1 {
    position: relative;
    left: 0vw;
    top: 3vw;
    font-family: Manrope, sans-serif;
    font-size: 15vw;
    color: blue;
    mix-blend-mode: difference;
    z-index: 1;
    font-weight: 800;
}

#newsletter-photo {
    position: relative;
    width: 30vw;
    z-index: 1;
    left: 10vw;
    top: 85vw;
}

#newsletter h2 {
    position: relative;
    font-family: Roboto, sans-serif;
    color: white;
    text-align: right;
    right: 15vw;
    top: 45vw;
    z-index: 1;
    font-size: 3vw;
}

#newsletter h3 {
    position: relative;
    font-family: Roboto, sans-serif;
    color: white;
    text-align: right;
    right: 19vw;
    top: 67vw;
    z-index: 1;
    font-size: 2.2vw;
}

.hidden {
    display: none;
}

form {
    text-align: right;
}

label, input {
    position: relative;
    font-family: Roboto;
    color: white;
    z-index: 1;
    font-size: 2vw;
}

input {
    border-radius: 5px;
    border-color: lightblue;
}

#name-label, #name {
    right: -20vw;
    top: 50vw;
}

#email-label, #email {
    right: 10vw;
    top: 57vw;
}

#submit {
    background-color: black;
    color: white;
    font-family: Roboto;
    border-radius: 5px;
    border-color: black;
    font-size: 2vw;
    padding: 7px 7px;
    position: relative;
    z-index: 1;
    right: 28vw;
    top: 65vw;
}

