@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Roboto:wght@100&display=swap");

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
  margin-bottom: 0px;
}
/* Left Column */
.left-column img {
  width: 85%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: -100;
}

.left-column img.active {
  opacity: 1;
}

/* Product Description */
.product-description {
  border-bottom: 1px solid #7bafd4;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #7bafd4;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
}
.product-description h1 {
  font-weight: 300;
  font-size: 35px;
  color: #43484d;
  letter-spacing: -2px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: black;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}
/* Product Color */
.product-color {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #98cbd3;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #ffd3f1;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images_silfen/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}

.cart-btn {
  display: inline-block;
  background-color: black;
  border-radius: 20px;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
}

.cart-btn:hover {
  background-color: black;
  opacity: 30%;
}

.card {
  width: 50vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 4px 10px 0 #98cbd3;
  padding: 10px;
  border-radius: 10px;
  z-index: 200;
  margin: 0 auto;
}
h4,
h3 {
  margin-left: 30px;
}
h3 {
  font-family: "Manrope", sans-serif;
}

h4 {
  margin-bottom: 10px;
}
.description,
.colour {
  margin-left: 30px;
}
.description {
  padding-bottom: 30px;
  margin-top: 10px;
}
h1 {
  text-align: center;
  font-family: "Manrope", sans-serif;
}
h2 {
  text-align: center;
  font-family: "Manrope", sans-serif;
  margin-top: 100px;
}
.reviews {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}


/* Slides */
.mySlides {
  /* display: none; */
  padding: 50px;
  display: flex;
  flex-direction: row;
}

.checked {
  color: orange;
}
.rating {
  margin-left: 20px;
}
.hidden {
  visibility: hidden;
}
/*form*/

input {
  display: block;
  align-self: center;
}
textarea {
  resize: vertical;
  max-height: 200px;
  font-size: 20px;
  border: 2px solid #7bafd4;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  font-family: "Roboto", sans-serif;
}
label {
  align-self: center;
  padding: 10px;
}

.button {
  margin-top: 20px;
  max-width: 200px;
  font-family: "Roboto", sans-serif;
}
#reviewForm {
  align-self: center;
  font-size: 20px;
  border-radius: 4px;
  border-bottom: 2px solid #7bafd4;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  margin-bottom: 5%;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  position: relative;
}
h3 {
  border-top: 2px solid #7bafd4;
  padding: 10px;
}

/*footer*/

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
footer {
  background-color: #7bafd4;
}
footer .info {
  display: flex;
  padding: 2vw;
}
footer .links1,
footer .links2,
footer .links3 {
  padding: 1vw;
  width: 34%;
}
footer a {
  display: block;
  font-size: 1.5vw;
  font-family: roboto;
  color: #5e5d5d;
}
footer p,
span {
  font-size: 1.5vw;
  font-family: roboto;
  color: #5e5d5d;
}
footer p {
  padding-bottom: 1vw;
}
.vertical-line {
  border-left: 3px solid #5e5d5d;
  display: inline;
  height: 15vw;
  margin: 0 auto;
  width: 1px;
}
.social-media,
.cards {
  display: flex;
  position: relative;
}
footer img {
  width: 4vw;
  padding: 0.2vw;
}
.copyright {
  margin-left: 24vw;
}
@media screen and (max-width: 800px) {
  footer a {
    font-size: 2.6vw;
  }
  footer p {
    font-size: 2vw;
  }
  .vertical-line {
    height: 20vw;
    border-left: 2px solid #5e5d5d;
  }
  footer img {
    width: 6vw;
    padding: 0.5vw;
  }
  .copyright {
    margin-left: 15vw;
  }
}

/* Responsive */

@media (max-width: 940px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 100%;
  }
  .right-column {
    margin-top: 250px;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    margin-top: 0;
  }
  .right-column {
    margin-bottom: 0;
  }
}
/*footer*/

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
footer {
  background-color: #7bafd4;
}
footer .info {
  display: flex;
  padding: 2vw;
}
footer .links1,
footer .links2,
footer .links3 {
  padding: 1vw;
  width: 34%;
}
footer a {
  display: block;
  font-size: 1.5vw;
  font-family: roboto;
  color: #5e5d5d;
}
footer p,
span {
  font-size: 1.5vw;
  font-family: roboto;
  color: #5e5d5d;
}
footer p {
  padding-bottom: 1vw;
}
.vertical-line {
  border-left: 3px solid #5e5d5d;
  display: inline;
  height: 15vw;
  margin: 0 auto;
  width: 1px;
}
.social-media,
.cards {
  display: flex;
  position: relative;
}
footer img {
  width: 4vw;
  padding: 0.2vw;
}
.copyright {
  margin-left: 24vw;
}
@media screen and (max-width: 800px) {
  footer a {
    font-size: 2.6vw;
  }
  footer p {
    font-size: 2vw;
  }
  .vertical-line {
    height: 20vw;
    border-left: 2px solid #5e5d5d;
  }
  footer img {
    width: 6vw;
    padding: 0.5vw;
  }
  .copyright {
    margin-left: 15vw;
  }
}
.breadcrumbs {
  list-style-type: none;
  display: inline-flex;
  font-family: "Roboto", sans-serif;
  color: black;
}
.breadcrumbs ol {
  display: inline;
}

li.productname {
  margin-top: 9px;
  margin-left: 11px;
  color: #7bafd4;
}
li a {
  color: #7bafd4;
}
